openapi: 3.0.3
info:
  title: MyShop Catalogue Service API
  description: |
    Complete REST API for Shop and Catalog management with authentication, QR code generation, and menu access.
    
    ## User Management
    
    ### Unified User System
    All users (both shop owners and staff) are stored in the same `shop_user` collection with role-based access:
    - **ADMIN**: Shop owner with full CRUD access (created automatically during shop registration)
    - **STAFF**: Support staff with limited access (created via `/api/shops/user`)
    
    ### User Authentication
    Users can authenticate using either:
    - **Mobile Number**: countryCode + mobileNumber (e.g., 919876543210)
    - **Email**: email address associated with the user
    
    ## Authentication Flow
    
    ### Public Access (No Login Required)
    1. Get public token: `POST /api/shops/auth` with empty body `{}`
    2. Use `publicAccessToken` for read-only access (valid 7 days)
    
    ### Shop Owner/Staff Access (Full CRUD)
    1. **Option A - During Shop Creation:**
       - Create shop with password: `POST /api/shops` (includes password field)
       - ADMIN user is created automatically with shop's email/mobile as userId
    
    2. **Option B - Manual User Creation:**
       - Create user: `POST /api/shops/user` (specify role: ADMIN or STAFF)
       - Optionally provide email/mobile, or use shop's defaults
    
    3. **Login:**
       - `POST /api/shops/auth` with userId (email or mobile) & password
       - Both email and mobile can be used as userId for authentication
       - Receive `oauthToken` for protected operations (valid 90 days)
    
    ## Public Endpoints (Public Token)
    - All GET endpoints for shops and catalogs
    - Shop menu: `GET /api/shops/{id}/menus`
    - Create shop: `POST /api/shops`
    - Create user: `POST /api/shops/user`
    
    ## Protected Endpoints (OAuth Token)
    - All PUT/DELETE operations
    - POST catalog items
    - Generate QR codes

  version: 2.0.0
  contact:
    name: MyShop API Support
    email: support@soanch.com
    url: https://api.soanch.com

servers:
  - url: https://api.soanch.com
    description: Production Server
  - url: http://localhost:8080
    description: Local Development Server

tags:
  - name: Shops
    description: Shop CRUD operations and search
  - name: Authentication
    description: User authentication and password management
  - name: Menus
    description: Shop menu and catalog access
  - name: QR Codes
    description: QR code generation and retrieval
  - name: Catalogs
    description: Catalog item management and search

components:
  securitySchemes:
    PublicToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Public Access Token (7 days) - READ-ONLY access

    OAuthToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: Private OAuth Token (90 days) - FULL access

  schemas:
    Shop:
      type: object
      properties:
        id:
          type: string
          example: "695d580b2e5090098478fc26"
        name:
          type: string
          example: "Pizza Palace"
        address:
          type: string
          example: "123 Main St, New York, NY"
        owner:
          type: string
          example: "John Doe"
        email:
          type: string
          format: email
          example: "shop@pizzapalace.com"
        mobileCountryCode:
          type: string
          example: "91"
        mobileNumber:
          type: string
          example: "9876543210"
        theme:
          type: object
          additionalProperties: true
          example:
            colors:
              primary: "#FF6B6B"
              secondary: "#FFFFFF"
            menu: "Italian pizza and pasta"
            lookAndFeel: "Modern"
        qrCode:
          type: string
          description: Base64 encoded QR code image
        qrCodeUrl:
          type: string
          example: "https://myshop.soanch.com/web-menu?shopid=695d580b2e5090098478fc26"

    ShopCreate:
      type: object
      required:
        - name
        - address
        - owner
      properties:
        name:
          type: string
          example: "Pizza Palace"
        address:
          type: string
          example: "123 Main St"
        owner:
          type: string
          example: "John Doe"
        email:
          type: string
          format: email
          description: Shop email - can be used as userId for authentication
          example: "shop@example.com"
        mobileCountryCode:
          type: string
          description: Mobile country code (e.g., 91 for India)
          example: "91"
        mobileNumber:
          type: string
          description: Mobile number (without country code) - can be used as userId
          example: "9876543210"
        password:
          type: string
          format: password
          description: Optional - if provided, automatically creates an ADMIN user
          example: "SecurePass123!"
        theme:
          type: object
          additionalProperties: true
          description: Shop theme configuration (colors, menu style, etc.)

    Catalog:
      type: object
      properties:
        id:
          type: string
          example: "cat001"
        name:
          type: string
          example: "Margherita Pizza"
        category:
          type: string
          example: "Pizza"
        shopId:
          type: string
          example: "695d580b2e5090098478fc26"
        unit:
          type: string
          enum: [kg, piece, liter, gram, dozen]
          example: "piece"
        price:
          type: object
          properties:
            currency:
              type: string
              example: "INR"
            value:
              type: number
              format: double
              example: 299.00
        availability:
          type: object
          properties:
            startTime:
              type: string
              format: time
              example: "09:00"
            endTime:
              type: string
              format: time
              example: "22:00"
            available:
              type: boolean
              example: true
        status:
          type: string
          enum: [ACTIVE, INACTIVE, OUT_OF_STOCK]
          example: "ACTIVE"
        description:
          type: string
          example: "Classic Italian pizza with tomato and mozzarella"
        stock:
          type: object
          properties:
            quantity:
              type: integer
              example: 50
            minQuantity:
              type: integer
              example: 10
        createdAt:
          type: string
          format: date-time
        updatedAt:
          type: string
          format: date-time

    ShopMenuDTO:
      type: object
      properties:
        shopId:
          type: string
        shopName:
          type: string
        address:
          type: string
        owner:
          type: string
        email:
          type: string
        mobileCountryCode:
          type: string
        mobileNumber:
          type: string
        qrCodeUrl:
          type: string
        theme:
          type: object
        catalogItems:
          type: array
          items:
            $ref: '#/components/schemas/Catalog'
        totalItems:
          type: integer
          format: int64
        fetchedAt:
          type: string
          format: date-time

    CreateUserRequest:
      type: object
      required:
        - shopId
        - password
        - confirmPassword
      properties:
        shopId:
          type: string
          example: "695d580b2e5090098478fc26"
        password:
          type: string
          format: password
          example: "SecurePass123!"
        confirmPassword:
          type: string
          format: password
          example: "SecurePass123!"
        role:
          type: string
          enum: [ADMIN, STAFF]
          description: User role - ADMIN (shop owner) or STAFF (support staff). Default is STAFF
          example: "STAFF"
        email:
          type: string
          format: email
          description: Optional - email for this user. If not provided, uses shop's email
          example: "staff@example.com"
        mobileCountryCode:
          type: string
          description: Optional - mobile country code. If not provided, uses shop's mobile
          example: "91"
        mobileNumber:
          type: string
          description: Optional - mobile number. If not provided, uses shop's mobile
          example: "8087047070"

    ShopUser:
      type: object
      description: Unified user entity for both Admin (shop owners) and Staff users
      properties:
        id:
          type: string
          example: "user123"
        userId:
          type: string
          description: Can be mobile number (countryCode+mobile) or email
          example: "919876543210"
        shopId:
          type: string
          example: "695d580b2e5090098478fc26"
        role:
          type: string
          enum: [ADMIN, STAFF]
          description: ADMIN = shop owner with full access, STAFF = support staff with limited access
          example: "ADMIN"
        email:
          type: string
          format: email
          example: "admin@shop.com"
        mobileCountryCode:
          type: string
          example: "91"
        mobileNumber:
          type: string
          example: "9876543210"
        status:
          type: string
          enum: [ACTIVE, SUSPENDED, DELETED]
          example: "ACTIVE"
        createdAt:
          type: string
          format: date-time
        lastLogin:
          type: string
          format: date-time

    AuthRequest:
      type: object
      properties:
        userId:
          type: string
          description: Mobile number (countryCode+mobile) or email
          example: "919876543210"
        password:
          type: string
          format: password
          example: "SecurePass123!"
        shopId:
          type: string
          description: Optional - for public access mode
          example: "695d580b2e5090098478fc26"

    AuthResponse:
      type: object
      properties:
        status:
          type: string
          example: "success"
        message:
          type: string
          example: "Authentication successful"
        authLevel:
          type: string
          enum: [Public, Password]
          example: "Password"
        oauthToken:
          type: string
          description: Private token (90 days) - for CRUD ops
        publicAccessToken:
          type: string
          description: Public token (7 days) - for read-only
        shopId:
          type: string
        userId:
          type: string
        expiresIn:
          type: integer
        expiresInDays:
          type: integer
        publicTokenExpiresInDays:
          type: integer

    ResetPasswordRequest:
      type: object
      required:
        - userId
        - oldPassword
        - newPassword
        - confirmNewPassword
      properties:
        userId:
          type: string
        oldPassword:
          type: string
          format: password
        newPassword:
          type: string
          format: password
        confirmNewPassword:
          type: string
          format: password

    Error:
      type: object
      properties:
        status:
          type: string
          example: "error"
        message:
          type: string
        details:
          type: string

    Success:
      type: object
      properties:
        status:
          type: string
          example: "success"
        message:
          type: string
        data:
          type: object

paths:
  # ==================== SHOP ENDPOINTS ====================

  /api/shops:
    get:
      tags:
        - Shops
      summary: Get all shops
      description: Retrieve a list of all shops
      operationId: getAllShops
      security:
        - PublicToken: []
      responses:
        '200':
          description: List of shops
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Shop'

    post:
      tags:
        - Shops
      summary: Create a new shop
      description: |
        Create a new shop with automatic QR code generation.
        If password is provided, automatically creates an ADMIN user for the shop.
      operationId: createShop
      security:
        - PublicToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ShopCreate'
            examples:
              withPassword:
                summary: Create shop with admin user
                value:
                  name: "Pizza Palace"
                  address: "123 Main St, New York, NY"
                  owner: "John Doe"
                  email: "shop@pizzapalace.com"
                  mobileCountryCode: "91"
                  mobileNumber: "9876543210"
                  password: "SecurePass123!"
                  theme:
                    colors:
                      primary: "#FF6B6B"
                      secondary: "#FFFFFF"
                    menu: "Italian pizza and pasta"
                    lookAndFeel: "Modern and cozy"
              withoutPassword:
                summary: Create shop without user (legacy)
                value:
                  name: "Quick Mart"
                  address: "456 Oak Ave"
                  owner: "Jane Smith"
                  theme: {}
      responses:
        '201':
          description: Shop created successfully (with QR code and optional admin user)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shop'
              example:
                id: "695d580b2e5090098478fc26"
                name: "Pizza Palace"
                address: "123 Main St, New York, NY"
                owner: "John Doe"
                email: "shop@pizzapalace.com"
                mobileCountryCode: "91"
                mobileNumber: "9876543210"
                theme:
                  colors:
                    primary: "#FF6B6B"
                    secondary: "#FFFFFF"
                qrCode: "data:image/png;base64,iVBORw0KG..."
                qrCodeUrl: "https://myshop.soanch.com/web-menu?shopid=695d580b2e5090098478fc26"
        '400':
          description: Invalid input
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                message: "Validation error"
                details: "Shop name is required"

    delete:
      tags:
        - Shops
      summary: Delete all shops
      description: Delete all shops (use with caution)
      operationId: deleteAllShops
      security:
        - OAuthToken: []
      responses:
        '204':
          description: All shops deleted successfully

  /api/shops/{id}:
    get:
      tags:
        - Shops
      summary: Get shop by ID
      description: Retrieve detailed information about a specific shop
      operationId: getShopById
      security:
        - PublicToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "695d580b2e5090098478fc26"
      responses:
        '200':
          description: Shop details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shop'
        '404':
          description: Shop not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Shops
      summary: Update shop
      description: Update shop details (partial or full update)
      operationId: updateShop
      security:
        - OAuthToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Shop'
      responses:
        '200':
          description: Shop updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Shop'
        '404':
          description: Shop not found

    delete:
      tags:
        - Shops
      summary: Delete shop
      description: Delete a shop by ID
      operationId: deleteShop
      security:
        - OAuthToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '204':
          description: Shop deleted successfully
        '404':
          description: Shop not found

  /api/shops/search/name:
    get:
      tags:
        - Shops
      summary: Search shops by name
      description: Find shops by name (exact match)
      operationId: getShopsByName
      security:
        - PublicToken: []
      parameters:
        - name: name
          in: query
          required: true
          schema:
            type: string
          example: "Pizza Palace"
      responses:
        '200':
          description: List of matching shops
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Shop'

  /api/shops/search/owner:
    get:
      tags:
        - Shops
      summary: Search shops by owner
      description: Find shops by owner name
      operationId: getShopsByOwner
      security:
        - PublicToken: []
      parameters:
        - name: owner
          in: query
          required: true
          schema:
            type: string
          example: "John Doe"
      responses:
        '200':
          description: List of matching shops
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Shop'

  /api/shops/search/address:
    get:
      tags:
        - Shops
      summary: Search shops by address
      description: Find shops by address (partial match)
      operationId: getShopsByAddress
      security:
        - PublicToken: []
      parameters:
        - name: address
          in: query
          required: true
          schema:
            type: string
          example: "New York"
      responses:
        '200':
          description: List of matching shops
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Shop'

  # ==================== AUTHENTICATION ENDPOINTS ====================

  /api/shops/user:
    post:
      tags:
        - Authentication
      summary: Create shop user account (Admin or Staff)
      description: |
        Create a new user account for a shop in the unified shop_users collection.
        
        **User Roles:**
        - ADMIN: Shop owner with full access
        - STAFF: Support staff with limited access (default)
        
        **UserID Priority:**
        1. If email provided → use as userId
        2. If mobileCountryCode+mobileNumber provided → use as userId
        3. Otherwise → use shop's mobile number (backward compatible)
        
        Password is hashed using BCrypt before storage.
      operationId: createUser
      security:
        - PublicToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CreateUserRequest'
            examples:
              createStaffWithEmail:
                summary: Create STAFF user with email
                value:
                  shopId: "695d580b2e5090098478fc26"
                  password: "StaffPass123!"
                  confirmPassword: "StaffPass123!"
                  role: "STAFF"
                  email: "staff@pizzapalace.com"
                  mobileCountryCode: "91"
                  mobileNumber: "8087047070"
              createAdminExplicit:
                summary: Create ADMIN user explicitly
                value:
                  shopId: "695d580b2e5090098478fc26"
                  password: "AdminPass123!"
                  confirmPassword: "AdminPass123!"
                  role: "ADMIN"
                  email: "admin2@pizzapalace.com"
              legacyCreate:
                summary: Legacy create (uses shop mobile)
                value:
                  shopId: "695d580b2e5090098478fc26"
                  password: "SecurePass123!"
                  confirmPassword: "SecurePass123!"
      responses:
        '201':
          description: User created successfully in shop_users collection
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "User created successfully"
                  userId:
                    type: string
                    example: "staff@pizzapalace.com"
                  shopId:
                    type: string
                    example: "695d580b2e5090098478fc26"
                  createdAt:
                    type: string
                    format: date-time
        '400':
          description: Invalid request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                userExists:
                  summary: User already exists
                  value:
                    status: "error"
                    message: "Error creating user"
                    details: "User already exists with userId: staff@pizzapalace.com"
                passwordMismatch:
                  summary: Password mismatch
                  value:
                    status: "error"
                    message: "Error creating user"
                    details: "Passwords do not match"

  /api/shops/auth:
    post:
      tags:
        - Authentication
      summary: Login / Get access tokens
      description: |
        **Two authentication modes:**
        
        **PUBLIC MODE** (No credentials required):
        - Request: `{}` or `{"shopId": "optional"}`
        - Returns: publicAccessToken (7 days validity, READ-ONLY access)
        - authLevel: "Public"
        - Use for: Viewing shop menus, catalog browsing
        
        **PASSWORD MODE** (With credentials):
        - Request: `{"userId": "mobile/email", "password": "pwd"}`
        - Returns: oauthToken (90 days) + publicAccessToken (7 days)
        - authLevel: "Password"
        - Use for: Full CRUD operations, shop management
        
        **Flexible UserID:**
        - Mobile with country code: `919876543210`
        - Email from user: `staff@pizzapalace.com`
        - Email from shop: `shop@pizzapalace.com`
      operationId: authenticate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AuthRequest'
            examples:
              publicAccess:
                summary: Public access (no login)
                value: {}
              publicAccessWithShop:
                summary: Public access for specific shop
                value:
                  shopId: "695d580b2e5090098478fc26"
              passwordWithMobile:
                summary: Login with mobile number
                value:
                  userId: "919876543210"
                  password: "SecurePass123!"
              passwordWithEmail:
                summary: Login with email
                value:
                  userId: "shop@pizzapalace.com"
                  password: "SecurePass123!"
      responses:
        '200':
          description: Authentication successful
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
              examples:
                publicResponse:
                  summary: Public access response
                  value:
                    status: "success"
                    message: "Public access token generated"
                    authLevel: "Public"
                    publicAccessToken: "eyJhbGciOiJIUzI1NiJ9..."
                    shopId: "public"
                    publicTokenExpiresInDays: 7
                passwordResponse:
                  summary: Password authentication response
                  value:
                    status: "success"
                    message: "Authentication successful"
                    authLevel: "Password"
                    oauthToken: "eyJhbGciOiJIUzI1NiJ9..."
                    publicAccessToken: "eyJhbGciOiJIUzI1NiJ9..."
                    shopId: "695d580b2e5090098478fc26"
                    userId: "919876543210"
                    expiresInDays: 90
                    publicTokenExpiresInDays: 7
        '401':
          description: Invalid credentials
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                message: "Invalid credentials"

  /api/shops/reset-password:
    post:
      tags:
        - Authentication
      summary: Reset password
      description: |
        Reset user password with old password verification.
        Works with both mobile number and email as userId.
      operationId: resetPassword
      security:
        - PublicToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ResetPasswordRequest'
            examples:
              withMobile:
                summary: Reset with mobile number
                value:
                  userId: "919876543210"
                  oldPassword: "OldPass123!"
                  newPassword: "NewPass123!"
                  confirmNewPassword: "NewPass123!"
              withEmail:
                summary: Reset with email
                value:
                  userId: "shop@pizzapalace.com"
                  oldPassword: "OldPass123!"
                  newPassword: "NewPass123!"
                  confirmNewPassword: "NewPass123!"
      responses:
        '200':
          description: Password reset successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
              example:
                status: "success"
                message: "Password reset successfully"
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              examples:
                passwordMismatch:
                  summary: New passwords don't match
                  value:
                    status: "error"
                    message: "Password reset failed"
                    details: "New passwords do not match"
        '401':
          description: Invalid old password
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                message: "Password reset failed"
                details: "Invalid userId or password"

  # ==================== MENU ENDPOINTS ====================

  /api/shops/{shopId}/menus:
    get:
      tags:
        - Menus
      summary: Get shop menu with catalog items
      description: |
        Returns complete shop details with all catalog items and prices.
        Perfect endpoint for displaying menu to customers who scan QR code.
        Accessible with public token (no authentication required).
      operationId: getShopMenu
      security:
        - PublicToken: []
      parameters:
        - name: shopId
          in: path
          required: true
          schema:
            type: string
          example: "695d580b2e5090098478fc26"
      responses:
        '200':
          description: Shop menu with catalog items
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ShopMenuDTO'
              example:
                shopId: "695d580b2e5090098478fc26"
                shopName: "Pizza Palace"
                address: "123 Main St, New York, NY"
                owner: "John Doe"
                email: "shop@pizzapalace.com"
                mobileCountryCode: "91"
                mobileNumber: "9876543210"
                qrCodeUrl: "https://myshop.soanch.com/web-menu?shopid=695d580b2e5090098478fc26"
                theme:
                  colors:
                    primary: "#FF6B6B"
                    secondary: "#FFFFFF"
                catalogItems:
                  - id: "cat001"
                    name: "Margherita Pizza"
                    category: "Pizza"
                    shopId: "695d580b2e5090098478fc26"
                    unit: "piece"
                    price:
                      currency: "INR"
                      value: 299.00
                    availability:
                      startTime: "09:00:00"
                      endTime: "22:00:00"
                    status: "ACTIVE"
                totalItems: 1
        '404':
          description: Shop not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                message: "Shop not found"
                details: "No shop found with ID: 695d580b2e5090098478fc26"

  # ==================== QR CODE ENDPOINTS ====================

  /api/shops/{shopId}/generate-qr:
    post:
      tags:
        - QR Codes
      summary: Generate QR code for shop
      description: |
        Generate QR code that links to shop menu.
        QR code URL format: https://myshop.soanch.com/web-menu?shopid={shopId}
        Returns base64 encoded PNG image that can be displayed or printed.
      operationId: generateQRCode
      security:
        - OAuthToken: []
      parameters:
        - name: shopId
          in: path
          required: true
          schema:
            type: string
          example: "695d580b2e5090098478fc26"
      responses:
        '200':
          description: QR code generated successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                    example: "success"
                  message:
                    type: string
                    example: "QR code generated successfully"
                  shopId:
                    type: string
                    example: "695d580b2e5090098478fc26"
                  qrCodeUrl:
                    type: string
                    example: "https://myshop.soanch.com/web-menu?shopid=695d580b2e5090098478fc26"
                  qrCode:
                    type: string
                    description: Base64 encoded PNG image
                    example: "data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAA..."
        '404':
          description: Shop not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                message: "Shop not found"
                details: "No shop found with ID: invalid-id"

  /api/shops/{shopId}/qr-code:
    get:
      tags:
        - QR Codes
      summary: Get QR code for shop
      description: Retrieve existing QR code for a shop
      operationId: getQRCode
      security:
        - PublicToken: []
      parameters:
        - name: shopId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: QR code retrieved
          content:
            application/json:
              schema:
                type: object
                properties:
                  status:
                    type: string
                  shopId:
                    type: string
                  shopName:
                    type: string
                  qrCodeUrl:
                    type: string
                  qrCode:
                    type: string
        '404':
          description: QR code not found

  # ==================== CATALOG ENDPOINTS ====================

  /api/catalogs:
    get:
      tags:
        - Catalogs
      summary: Get all catalogs
      description: Retrieve all catalog items from all shops
      operationId: getAllCatalogs
      security:
        - PublicToken: []
      responses:
        '200':
          description: List of all catalogs
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Catalog'

    post:
      tags:
        - Catalogs
      summary: Create catalog item
      description: |
        Add a new catalog item to a shop's menu.
        Supports various item types: food items, products, services.
        Includes pricing, availability schedules, and stock management.
      operationId: createCatalog
      security:
        - OAuthToken: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Catalog'
            examples:
              restaurantItem:
                summary: Restaurant menu item
                value:
                  name: "Margherita Pizza"
                  description: "Classic Italian pizza with tomato and mozzarella"
                  category: "Pizza"
                  shopId: "695d580b2e5090098478fc26"
                  unit: "piece"
                  price:
                    currency: "INR"
                    value: 299.00
                    discountPercentage: 10
                    discountedPrice: 269.10
                  availability:
                    isAvailable: true
                    startTime: "09:00"
                    endTime: "22:00"
                    availableDays: ["MON", "TUE", "WED", "THU", "FRI", "SAT", "SUN"]
                  status: "ACTIVE"
              vegetableShop:
                summary: Vegetable shop item
                value:
                  name: "Tomatoes"
                  category: "Vegetables"
                  shopId: "695d580b2e5090098478fc26"
                  unit: "kg"
                  price:
                    currency: "INR"
                    value: 45.00
                  availability:
                    startTime: "06:00"
                    endTime: "20:00"
                  stock:
                    quantity: 100
                    minQuantity: 10
                  status: "ACTIVE"
              generalStore:
                summary: General store product
                value:
                  name: "Coca Cola 1L"
                  category: "Beverages"
                  shopId: "695d580b2e5090098478fc26"
                  unit: "piece"
                  price:
                    currency: "INR"
                    value: 75.00
                  stock:
                    quantity: 50
                  status: "ACTIVE"
      responses:
        '201':
          description: Catalog created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Catalog'
              example:
                id: "cat001"
                name: "Margherita Pizza"
                description: "Classic Italian pizza with tomato and mozzarella"
                category: "Pizza"
                shopId: "695d580b2e5090098478fc26"
                unit: "piece"
                price:
                  currency: "INR"
                  value: 299.00
                availability:
                  startTime: "09:00:00"
                  endTime: "22:00:00"
                status: "ACTIVE"
                createdAt: "2026-01-07T10:00:00Z"
                updatedAt: "2026-01-07T10:00:00Z"
        '400':
          description: Validation error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                status: "error"
                message: "Validation error"
                details: "Catalog name is required"

  /api/catalogs/{id}:
    get:
      tags:
        - Catalogs
      summary: Get catalog by ID
      description: Retrieve a specific catalog item
      operationId: getCatalogById
      security:
        - PublicToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
          example: "cat001"
      responses:
        '200':
          description: Catalog item details
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Catalog'
        '404':
          description: Catalog not found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'

    put:
      tags:
        - Catalogs
      summary: Update catalog item
      description: Update catalog item details
      operationId: updateCatalog
      security:
        - OAuthToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Catalog'
      responses:
        '200':
          description: Catalog updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Catalog'
        '404':
          description: Catalog not found

    delete:
      tags:
        - Catalogs
      summary: Delete catalog item
      description: Remove a catalog item
      operationId: deleteCatalog
      security:
        - OAuthToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: Catalog deleted successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Success'
        '404':
          description: Catalog not found

  /api/catalogs/shop/{shopId}:
    get:
      tags:
        - Catalogs
      summary: Get catalogs by shop ID
      description: Retrieve all catalog items for a specific shop
      operationId: getCatalogsByShopId
      security:
        - PublicToken: []
      parameters:
        - name: shopId
          in: path
          required: true
          schema:
            type: string
          example: "695d580b2e5090098478fc26"
      responses:
        '200':
          description: List of catalog items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Catalog'

  /api/catalogs/category/{category}:
    get:
      tags:
        - Catalogs
      summary: Get catalogs by category
      description: Find catalog items by category
      operationId: getCatalogsByCategory
      security:
        - PublicToken: []
      parameters:
        - name: category
          in: path
          required: true
          schema:
            type: string
          example: "Pizza"
      responses:
        '200':
          description: List of catalog items in category
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Catalog'

  /api/catalogs/shop/{shopId}/category/{category}:
    get:
      tags:
        - Catalogs
      summary: Get catalogs by shop and category
      description: Find catalog items for a shop in specific category
      operationId: getCatalogsByShopAndCategory
      security:
        - PublicToken: []
      parameters:
        - name: shopId
          in: path
          required: true
          schema:
            type: string
        - name: category
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of matching catalog items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Catalog'

  /api/catalogs/price-range:
    get:
      tags:
        - Catalogs
      summary: Get catalogs by price range
      description: Filter catalog items by price range
      operationId: getCatalogsByPriceRange
      security:
        - PublicToken: []
      parameters:
        - name: shopId
          in: query
          required: true
          schema:
            type: string
        - name: minPrice
          in: query
          required: true
          schema:
            type: number
            format: double
          example: 100
        - name: maxPrice
          in: query
          required: true
          schema:
            type: number
            format: double
          example: 500
      responses:
        '200':
          description: List of catalog items within price range
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Catalog'

  /api/catalogs/available/{shopId}:
    get:
      tags:
        - Catalogs
      summary: Get available catalogs
      description: Get currently available catalog items for a shop
      operationId: getAvailableCatalogs
      security:
        - PublicToken: []
      parameters:
        - name: shopId
          in: path
          required: true
          schema:
            type: string
      responses:
        '200':
          description: List of available catalog items
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Catalog'

  /api/catalogs/{id}/status:
    patch:
      tags:
        - Catalogs
      summary: Update catalog status
      description: Change the status of a catalog item (ACTIVE, INACTIVE, OUT_OF_STOCK)
      operationId: updateCatalogStatus
      security:
        - OAuthToken: []
      parameters:
        - name: id
          in: path
          required: true
          schema:
            type: string
        - name: status
          in: query
          required: true
          schema:
            type: string
            enum: [ACTIVE, INACTIVE, OUT_OF_STOCK]
      responses:
        '200':
          description: Status updated successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Catalog'
        '404':
          description: Catalog not found

